body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    font-weight: 700;
}

header > h1{
    font-family: 'Lily Script One', system-ui;
    font-size: 4rem;
    color: #00A8E8;
    margin: 0px;
    text-decoration: none;
}

header > a{
    text-decoration: none;
}

#h1 a{
    text-decoration: none;
    color: #00A8E8;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 24px solid #00A8E8;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    margin: 73px;
    margin-top: 40px;
    justify-items: center;
}

.produkt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 875px;
    width: 310px;
    background-color: #CAF0F8;
    margin-bottom: 33px;
    font-weight: 400;
    border-radius: 5px;
}

.produkt img{
    height: 680px;
    width: 290px;
    object-fit: cover;
}

.produkt b{
    font-size: 1.25rem;
}

.produkt button{
    width: 193px;
    height: 50px;
    background-color: #003459;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    border: none;
}

.varukorgen{
    text-align: center;
    text-decoration: underline;
    height: 875px;
    width: 310px;
    background-color: #CAF0F8;
    margin-bottom: 33px;
    border-radius: 5px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00171F;
}

footer h6{
    font-size: 2rem;
}

.footerrubrik{
    color: white;
}

/* Tablet layout om bredden är mellan 641px och 1007px */
@media screen and (min-width: 641px) and (max-width: 1007px){

    header{
        margin: 0px;
    }

    header > h1{
        font-size: 2.5rem;
    }

    header > a{
        display: none;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .varukorgen{
        grid-column: 2 / 2;
        grid-row: 1;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

/* Mobil layout om bredden är under 640px */

@media screen  and (max-width: 640px) {
    
    main{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    header h1{
        font-size: 2rem;
    }

    .varukorgen{
        grid-row: 1;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerrubrik{
        width: 367px;
        text-align: center;
    }
}