body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}

header > h1{
    font-family: 'Lily Script One', system-ui;
    font-size: 4rem;
    color: #00A8E8;
    margin: 0px;

}

header > a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    background-color: #00A8E8;
    width: 106px;
    height: 33px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;


}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


section{
    background-image: url(./img/Squier.webp); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
    background-position: center;
    color: white;
}

section a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #00171F;
    border-radius: 15px;
    justify-items: start;
    width: 90px;
    height: 24px;
    padding: 5px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

section h2{
    font-size: 2rem;
}

.sectiontext{
    padding: 50px;
    margin-left: 55px;
}


.info1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 1/4;
    grid-row: 1;
    margin-top: 74px;
    margin-bottom: 74px;
}

.inforubrik1{
    text-align: center;
    background-color: #003459;
    color: white;
    width: 312px;
    height: 182px;
    border-radius: 5px;
}

.inforubrik1 h3{
    font-size: 2.25rem;
    margin-bottom: 10px;
}



.info2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 1/4;
    grid-row: 2;

}

.inforubrik2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #003459;
    border-radius: 5px;
    color: white;
    width: 312px;
    height: 400px;
    padding-bottom: 40px;
    font-size: 0.875rem;
}


.inforubrik2 h4{
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 205px;
    height: 37px;
}

.inforubrik2 p{
    margin-left: 15px;
}

.inforubrik2 a{
    background-color: #00A8E8;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}

.inforubrik2 img{
    width: 312px;
    height: 290px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#gitarrrubrik{
    grid-column: 1/2;
    grid-row: 3;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 35px;
}

.gitarrcontainer{
    grid-column: 1/4;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.25rem;
}

.gitarrcontainer img{
    object-fit: cover;
    width: 312px;
    height: 364px;
    border-radius: 5px;
}

.gitarrcontainer h5{
    margin-top: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00171F;
}

footer h6{
    font-size: 2rem;
}

.footerrubrik{
    color: white;
}

#rubriknyheter{
    display: none;
}

/* Tablet layout om bredden är mellan 641px och 1007px */
@media screen and (min-width: 641px) and (max-width: 1007px) {
    
    header{
        margin: 20px;
    }

    header > h1{
        font-size: 2.5rem;
    }

    header > a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        width: 73px;
        height: 33px;
        padding: 0px;
    }

    section{
        height: 263px;
        font-size: 0.75rem;
    }

    section h2{
        font-size: 2rem;
        margin: 0px;
        margin-bottom: 5px;
    }

    section a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 24px;
        padding: 0px;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        justify-items: center;
    }

    .info1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / span 2;
        grid-row: 1;
        grid-template-rows: auto auto;
        width: 776px;
        height: 330px;
        background-color: #CAF0F8;
        align-items: center;
        justify-items: center;
        border-radius: 5px;
        margin-top: 48px;
        margin-bottom: 0px;
    }
    
    #rubrik1{
        grid-column: 1 / 2;
    }

    .inforubrik1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 312px;
        height: 136px;
        font-size: 1rem;
    }

    .inforubrik1 h3{
        font-size: 2rem;
        margin: 0px;
        margin-top: 10px;
    }

    #rubriknyheter{
        display: block;
        grid-column: 1 / span 2;
        grid-row: 2;
        font-size: 1.5rem;
        text-align: center;
    }

    .info2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column: 1 / span 2;
        grid-row: 3;
        background-color: #CAF0F8;
        width: 776px;
        height: 985px;
        align-items: center;
        justify-items: center;
        border-radius: 5px;
    }

    .inforubrik2{
        margin: 20px;
    }
    

    #gitarrrubrik{
        grid-column: 1 / span 2;
        grid-row: 4;
        font-size: 1.5rem;
    }

    .gitarrcontainer{
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 5;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        background-color: #CAF0F8;
        width: 776px;
        height: 985px;
        align-items: center;
        justify-items: center;
        border-radius: 5px;
        margin-bottom: 25px;
    }


    

    
    
}

/* Mobil layout om bredden är under 640px */

@media screen  and (max-width: 640px){


    .huvud{
        display: flex;
        flex-direction: column;
        background-image: url(./img/Squier.webp);
        mix-blend-mode: normal;
        box-shadow: inset 0px -150px 50px #000000;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        height: 385px;
    }

    header{
        display: block;
    }

    header > h1{
        font-size: 2.5rem;
        text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    }

    header > a{
        display: none;
    }

    section{
        background-image: none;
    }

    .sectiontext{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px;
        margin-top: 170px;
        padding: 0px;
        font-size: 0.75rem;
        text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .sectiontext h2{
        font-size: 2rem;
        margin: 5px;
    }

    .sectiontext p{
        margin: 5px;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        gap: 22px;
    }

    #rubriknyheter{
        display: block;
        font-size: 1.5rem;
    }

    .inforubrik1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 367px;
        height: 136px;
        font-size: 1rem;
    }

    .inforubrik1 h3{
        font-size: 2rem;
        margin-bottom: 0px;
    }

    .info2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    .inforubrik2{
        width: 367px;
    }

    .inforubrik2 img{
        width: 367px;
    }

    .gitarrcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 367px;
    }

    .gitarrcontainer img{
        width: 367px;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerrubrik{
        width: 367px;
        text-align: center;
    }

    
}

