body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}

header > h1{
    font-family: 'Lily Script One', system-ui;
    font-size: 4rem;
    color: #00A8E8;
    margin: 0px;

}

header > a{
    font-size: 1rem;
    text-decoration: none;
    color: white;
    background-color: #00A8E8;
    width: 106px;
    height: 33px;
    border-radius: 10px;
    text-align: center;
    padding-top: 16px;
    padding-right: 15px;
    padding-left: 15px;

}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


section{
    background-image: url(./img/Squier.webp); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
    background-position: center;
    color: white;
}

section a{
    text-decoration: none;
    color: white;
    background-color: #00171F;
    padding: 10px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    justify-items: start;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

section h2{
    font-size: 2rem;
}

.sectiontext{
    padding: 50px;
    margin-left: 55px;
}


.info1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 1/4;
    grid-row: 1;
    margin-top: 74px;
    margin-bottom: 74px;
}

.inforubrik1{
    text-align: center;
    background-color: #003459;
    color: white;
    width: 312px;
    height: 182px;
    border-radius: 5px;
}

.inforubrik1 h3{
    font-size: 2.25rem;
    margin-bottom: 10px;
}



.info2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 1/4;
    grid-row: 2;

}

.inforubrik2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #003459;
    border-radius: 5px;
    color: white;
    width: 312px;
    height: 400px;
    padding-bottom: 40px;
    font-size: 0.875rem;
}


.inforubrik2 h4{
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 205px;
    height: 37px;
}

.inforubrik2 p{
    margin-left: 15px;
}

.inforubrik2 a{
    background-color: #00A8E8;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}

.inforubrik2 img{
    width: 312px;
    height: 290px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#gitarrrubrik{
    grid-column: 1/2;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 35px;
}